@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  max-width: 20rem;

  display: flex;
  flex-direction: column;
  color: white;
  z-index: 5;
}

.controls > .by {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5ch;
}

.buttonsAndStuff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5ch;
}

.infobox {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  height: calc(100vh - 2rem);
}

.infoboxInner {
  max-height: calc(100vh - 2rem);
  overflow: scroll;
}

a {
  color: white;
}

img {
  image-rendering: pixelated;
}

.graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
