@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
}

.infobox {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  height: calc(100vh - 5rem);
}

.infoboxInner {
  max-height: calc(100vh - 5rem);
  overflow: scroll;
}

.infoboxInner a {
  text-decoration: none;
  color: white;
}
